.postSneakPeek{
    margin: 15px;
    width: 100%;
    max-width: 260px;
    font-size: 10px;
    padding:10px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 1px #dadada; 
    box-shadow: 1px 1px 5px 1px #dadada; 
    display:flex;
    flex-direction: column;
    position:relative;
    min-height:100%;
}

.postSneakPeek__title{
    text-align: center;
    font-size:2.1em;
    margin-bottom:20px;
}

.postSneakPeek__link{
    text-align: center;
    margin-bottom:13px;
    font-size:1.5em;
    color: rgb(14, 111, 221);
    display:block;
    width:100%;
    font-size:1.5em;
    
}

.postSneakPeek__link:hover{
   text-decoration: underline; 
}

.postSneakPeek__img{
    width:100%;
}

.postSneakPeek__stats{
   margin-top:auto;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.postSneakPeek__iconContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
}

.postSneakPeek__iconContainer--attached{
    width:auto;
    position:absolute;
    right:-5px;
    top:-20px;
    font-size:14px;
    background-color: white;
    border-radius:5px;
    -webkit-box-shadow: 1px 1px 5px 1px #dadada; 
    box-shadow: 1px 1px 5px 1px #dadada; 
    padding:5px;
}

