.article{

}

.article__img-container{
    margin-bottom:20px;
}

.article__img{
    display:block;
    margin: 0 auto;
    max-width:400px;
    width:100%;
}

.article__title{
    text-align: center;
    margin-bottom: 40px;
}

.article__header{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.article__comments-options{
    display:flex;
    margin-bottom:40px;
    justify-content: center;
}

.article__comments-select{
    border:0;
    -webkit-box-shadow: 1px 1px 5px 1px #d4d4d4; 
    box-shadow: 1px 1px 5px 1px #d4d4d4;
    border-radius:5px;
    margin-left: 10px;
    padding: 0 10px;
    height:30px;
    max-width:100%;
    width:250px;
    cursor:pointer;
}

.article__comments-select:focus{
    -webkit-box-shadow: 1px 1px 5px 1px #8a8a8a; 
    box-shadow: 1px 1px 5px 1px #8a8a8a;
}

.article__react-container{
display:flex;
align-items: center;
justify-content: center;
margin-top:20px;
cursor:pointer;
}
.article__react-label{
    color: rgb(14, 111, 221)
}
.article__react-icon-container{
    width:20px;
    margin-left:5px;
}

.article__comments-container{
    padding:20px 0;
}


@media(max-width:600px){
    .article__comments-options{
        display:flex;
        flex-direction: column;
       align-items: center;
        margin-bottom:20px;
    }

    .article__comments-select{
      margin-left: 0;
      margin-top:10px;
    }
}