.navigation{
    -webkit-box-shadow: 1px 1px 5px 1px #dadada; 
    box-shadow: 1px 1px 5px 1px #cccccc;
    background-color: rgb(14, 111, 221);;
}

.navigation__content{
    max-width:1300px;
    display:flex;
    height:60px;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    margin: 0 auto;
    padding:0 20px;
}

.navigation__list{
    display:flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:600px){
    .navigation__item{
        overflow: hidden;
        transition:.5s;
        width:53px;
    }

    .navigation__item--dynamic {
        opacity: 0;
        width: 0;
        visibility:hidden;
    }
}