.container{
    display:flex;
    justify-content: center;
}

.container--wrap{
    flex-wrap: wrap;
}

.container--column{
    flex-direction: column;
}

.container--base{
    display:block;
    justify-content: none;
}

.container--main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
}

.container--mainWrapper{
    width:100%;
    max-width: 1200px;
    height:100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom:0;
}
