.quantityChanger{
    width:100%;
    max-width:360px;
    margin: 30px auto;
}

.quantityChanger__info{
    margin-bottom:15px;
    text-align: center;
}

.quantityChanger__btnContainer{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    margin-top:25px;
    flex-wrap: wrap;
}

.quantityChanger__btn{
    width:150px;
    margin: auto 10px;
    margin-bottom:15px;
    padding:15px;
    border:0;
    border-radius: 5px;
    background-color: var(--blue-color);
    -webkit-box-shadow: 1px 1px 5px 1px var(--box-shadow-color); 
    box-shadow: 1px 1px 5px 1px var(--box-shadow-color);
    font-size:15px;
    color: rgb(255, 255, 255);
    cursor:pointer;
}

.quantityChanger__btn--disabled{
    background-color: var(--disabled-bg-color);
    color: var(--disabled-font-color);
    cursor:not-allowed;
}