.select{
    border:0;
    -webkit-box-shadow: 1px 1px 5px 1px #d4d4d4; 
    box-shadow: 1px 1px 5px 1px #d4d4d4;
    border-radius:5px;
    margin-left: 10px;
    padding: 0 10px;
    height:45px;
    max-width:100%;
    width:280px;
    cursor:pointer;
    font-size:15px;
}

.select:focus{
    -webkit-box-shadow: 1px 1px 5px 1px #8a8a8a; 
    box-shadow: 1px 1px 5px 1px #8a8a8a;
}

@media(max-width:600px){
    .select{
        margin-left: 0;
        margin-top:10px;
       
    }
}