.dynamicIcon{
    display:flex;
    justify-content: center;
    align-items: center;
}

.dynamicIcon--reverse{
    flex-direction: row-reverse;
}

.dynamicIcon--link{
    color: rgb(14, 111, 221);
    cursor: pointer;
}

.dynamicIcon--linkWhite{
    color: rgb(255, 255, 255);
}

.dynamicIcon--link:hover{
    text-decoration: underline;
}

.dynamicIcon__imgContainer{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 5px;
}


.dynamicIcon__imgContainer--small{
    width:20px;
}

.dynamicIcon__imgContainer--medium{
    width:28px;
}

.dynamicIcon__img{
    width:100%;
    height:100%;
}

.dynamicIcon__number{
    position:absolute;
    left:50%;
    top:47%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color:#fff;
    font-size:15px;
}