.comment {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding:15px;
  
    max-width:600px;
    width:100%;
    -webkit-box-shadow: 1px 1px 5px 1px #d4d4d4; 
    box-shadow: 1px 1px 5px 1px #d4d4d4;
    margin: 0 auto;
    margin-bottom:25px;
}

.comment__wrapper{
    width:80%;
}

.comment__email {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
}

.comment__body{
    color: rgb(61, 61, 61);
}

.comment__options-container{
    display:flex;
align-items: center;
margin-top:20px;
height:30px;
}

.comment__like-label{
    color: rgb(14, 111, 221)
}

.comment__like-icon{
    width:20px;
    margin-left:5px;
}

.comment__post-container, .comment__trash-container{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.comment__trash-container{
    margin-left:20px;
}

.comment__post-icon, .comment__trash-icon{
    width:25px;
}

.comment__trash-icon-container, .comment__post-icon-container{
    margin-left:5px;
}

.comment__trash-label, .comment__post-label{
    color: rgb(14, 111, 221)
}

.comment__post-container:hover .comment__post-label{
    text-decoration: underline;
}

.comment__trash-container:hover .comment__trash-label{
    text-decoration: underline;
}

