.navigation{
    display:flex;
    height:65px;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    border-bottom: 1px solid black;
}

.navigation__logo{
    margin-left:20px;
}

.navigation__list{
    display:flex;
}

.navigation__item{
    margin-right:20px;
}