.navigation{
    -webkit-box-shadow: 1px 1px 5px 1px #dadada; 
    box-shadow: 1px 1px 5px 1px #cccccc;
}

.navigation__wrapper{
    max-width:1300px;
    display:flex;
    height:65px;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    margin: 0 auto;
    padding:0 20px;
}

.navigation__list{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navigation__item-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navigation__item-label{
    margin-right: 5px;
}

@media(max-width:600px){
    .navigation__item{
        overflow: hidden;
        transition:.5s;
        width:40px;
    }

    .navigation__logo{
        width:100%
    }

    .navigation__item--dynamic {
        opacity: 0;
        width: 0;
        visibility:hidden;
    }
}