.search-bar{
   position:relative;
   height:30px;
   width:100%;
   max-width:350px;
   -webkit-box-shadow: 1px 1px 5px 1px #d4d4d4; 
    box-shadow: 1px 1px 5px 1px #d4d4d4;
    border-radius:5px;
    transition: .5s;
}

.search-bar--small{
    max-width: 250px;
}

.search-bar--mobile{
    width:20px;
}

.search-bar__input{
    height:100%;
    width:100%;
    padding-left:25px;
    border:0;
    border-radius:5px;
   
}
.search-bar__input:focus{
    -webkit-box-shadow: 1px 1px 5px 1px #8a8a8a; 
    box-shadow: 1px 1px 5px 1px #8a8a8a;
}

.search-bar__search-icon{
    position: absolute;
    left:5px;
    top:50%;
    width:16px;
    transform: translateY(-50%);
    cursor:pointer;
}

.search-bar__delete-icon{
    position: absolute;
    right:5px;
    top:50%;
    width:16px;
    transform: translateY(-50%);
    cursor: pointer;
}

@media(max-width:400px){
    .search-bar{
        margin: auto; 
    }
}

