.favorites{}


.favorites__header{
    padding-top:10px;
    margin-bottom: 30px;
    text-align: center;
}




.favorites__search-bar-container{
    display:flex;
    margin-bottom:40px;
    justify-content: center;
}

.favorites__line{
    height:1px;
    width:90%;
    margin: 20px auto;
    background-color:rgb(206, 206, 206);
    border-radius: 10px;
}

