.footer{
    background-color: rgb(14, 111, 221);;
    -webkit-box-shadow: 5px 5px 5px 5px #dadada; 
    box-shadow: 5px 5px 5px 5px #cccccc;
}

.footer__content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:1300px;
    height:55px;
    margin: 0 auto;
    padding:0 20px;
    color: #fff;  
}
