:root {
  --box-shadow-color:rgb(212,212,212);
  --box-shadow-color-light: rgb(140, 193, 253);
  --box-shadow-color-dark: rgb(138,138,138);
  --comment-bg-color:rgb(238, 238, 238);
  --comment-email-font-color:rgb(0, 0, 0);
  --comment-body-font-color:rgb(61, 61, 61);
  --blue-color: rgb(14, 111, 221);
  --link-color: rgb(14, 111, 221);
  --line-color:rgb(206, 206, 206);
  --disabled-font-color: rgb(233, 233, 233);
  --disabled-bg-color:rgb(189, 189, 189);

}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 1;
  }
  
  a{
    text-decoration: none;
  }
  
  a, a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  input, select{
    outline-width: 0;
  }

  ul{
    list-style: none;
  }


